<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR 404</title>
    <link rel="stylesheet" href="/404/style.css">
</head>
<body>
    <div class="container">
        <h1><span>404 - FILE NOT FOUND</span></h1>
    </div>
</body>
</html>