<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" href="/Chapter-4/style.css">
</head>
<body>
    <nav class="navbar">
        <a href="/home"> < </a>
        <img src="/Chapter-4/assets/logo 1.png" alt="logo">
        <h1>rock paper scissors</h1>
    </nav>

    <div id="container" class="container">
        <div class="player" id="player">
            <p>player 1</p>
            <div class="choice" id="choicerock">
                <img id="rock" src="/Chapter-4/assets/batu.png" alt="batu" onclick="choice('rock')">
            </div>
            <div class="choice" id="choicepaper">
                <img id="paper" src="/Chapter-4/assets/kertas.png" alt="kertas" onclick="choice('paper')">
            </div>
            <div class="choice" id="choicescissor">
                <img id="scissor" src="/Chapter-4/assets/gunting.png" alt="gunting" onclick="choice('scissor')">
            </div>
        </div>
        <div class="status" id="element">
            <h1 id="text" class="vs">VS</h1>
        </div>
        <div class="com">
            <p>com</p>
            <div class="choice" id="comchoicerock">
                <img id="rockCom" src="/Chapter-4/assets/batu.png" alt="batu">
            </div>
            <div class="choice" id="comchoicepaper">
                <img id="paperCom" src="/Chapter-4/assets/kertas.png" alt="kertas">
            </div>
            <div class="choice" id="comchoicescissor">
                <img id="scissorsCom" src="/Chapter-4/assets/gunting.png" alt="gunting">
            </div>
        </div>
        <span></span>
        <div class="refresh">
            <a href=""><img src="/Chapter-4/assets/refresh.png" alt="refresh"></a>
        </div>
        <span></span>
    </div>
    <script src="/Chapter-4/script.js"></script>
</body>
</html>