<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" href="/Chapter-3/assets/icon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/Chapter-3/style.css">
</head>
<body>
    <div class="main-nav">
      <nav class="navbar navbar-expand-sm navbar-dark fixed-top">   
        <a class="navbar-brand" href="#">Logo</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                  <a href="">home</a>
                </li>
                <li class="nav-item">
                  <a href="https://www.linkedin.com/in/agasss">work</a>
                </li>
                <li class="nav-item">
                    <a href="https://www.instagram.com/a.n.agastya/">contact</a>
                </li>
                <li class="nav-item">
                    <a href="https://linktr.ee/agass">about me</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                  <a href="/register">sign up</a>
                </li>
                <li class="nav-item">
                  <a href="/login">login</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="mobile-nav">
      <nav class="navbar bg-dark navbar-dark fixed-top" style="background-color: rgb(0,0,0,0.5) !important;">
        <a class="navbar-brand" href="#">logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#x" aria-expanded="true">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse show" id="x">
          <ul class="nav navbar-nav" style="visibility: visible;">
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)">home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.linkedin.com/in/agasss">work</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.instagram.com/a.n.agastya/">contact</a>
            </li>   
            <li class="nav-item">
              <a class="nav-link" href="https://linktr.ee/agass">about me</a>
            </li>    
            <li class="nav-item">
              <a class="nav-link" href="/register">sign up</a>
            </li>    
            <li class="nav-item">
              <a class="nav-link" href="/login">login</a>
            </li>     
          </ul>
        </div>  
      </nav>
    </div>
    
    <div class="Page">
      
      <!--First Page--->
      <div class="container" id="section1">
          <h1>play traditional game</h1>
          <h3>Experience new traditional game play</h3>
          <button type="button" class="btn btn-warning" onclick="myFunction()">play now</button>
          <a href="">the story</a>
          <img src="/Chapter-3/assets/scroll-down.svg" alt="scroll-down">
      </div>

      <!--Second Page-->
      <div class="container-2" id="section2">
        <div class="row">
          <div class="col-3">
            <h3> What's so special?</h3>
            <h1>the games</h1>
          </div>
          <div class="col-9">
            <div class="row">
              <div class="col-1"><img class="left" src="/Chapter-3/assets/switch-left.svg" alt="left"></div>
              <div class="col-md-8 col-12">
                <img src="/Chapter-3/assets/ellipse.svg" alt="">
                <img src="/Chapter-3/assets/ellipse-outline.svg" alt="">
                <img src="/Chapter-3/assets/ellipse-outline.svg" alt="">
                <img src="/Chapter-3/assets/ellipse-outline.svg" alt="">
              </div>
              <div class="col-1"><img class="right" src="/Chapter-3/assets/switch-right.svg" alt="right"></div>
            </div>
          </div>
        </div>
      </div>

      <!--Third Page-->
      <div class="container-3" id="section3">
        <div class="row">
          <div class="col-7"></div>
          <div class="col-5">
            <div class="title">
              <h3>What’s so special?</h3>
              <h1>features</h1>
            </div>
            <div class="features">
              <div class="row">
                <div class="col-1">
                  <img src="/Chapter-3/assets/ellipse.svg" alt="">
                  <img src="/Chapter-3/assets/progress bar.svg" alt="">
                  <img src="/Chapter-3/assets/ellipse-outline.svg" alt="">
                  <img src="/Chapter-3/assets/ellipse-outline.svg" alt="">
                </div>
                <div class="col">
                  <p>traditional games</p>
                  <p>If you miss your childhood, we provide many traditional games here</p>
                  <p>game suit</p>
                  <p>tbd</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!--Fourth Page-->
      <div class="container-4" id="section4">
        <h3>Can My Computer Run this game?</h3>
          <div class="system-req">
            <div class="row">
              <div class="col-6">
                <h1 class="title">system requirements</h1>
                <div class="main-border">
                  <div class="row">
                    <div class="col-md-6 col-12">
                      <div class="mini-border">
                        <p class="yellow">os:</p>
                        <p class="desc">Windows 7 64-bit only (No OSX support at this time)</p>
                      </div>
                      <div class="mini-border">
                        <p class="yellow">memory:</p>
                        <p class="desc">4 GB RAM</p>
                      </div>
                    </div>
                    <div class="col-md-6 col-12">
                      <div class="mini-border">
                        <p class="yellow">processor:</p>
                        <p class="desc">Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ</p>
                      </div>
                      <div class="mini-border">
                        <p class="yellow">storage:</p>
                        <p class="desc">8 GB available space</p>
                      </div>
                    </div>
                  </div>
                  <div class="graphics">
                    <p class="yellow">graphics:</p>
                    <p class="desc">NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mobile-box">
            <div class="mini-border">
              <p class="yellow">os:</p>
              <p class="desc">Windows 7 64-bit only (No OSX support at this time)</p>
            </div>
            <div class="mini-border">
              <p class="yellow">memory:</p>
              <p class="desc">4 GB RAM</p>
            </div>
            <div class="mini-border">
              <p class="yellow">processor:</p>
              <p class="desc">Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ</p>
            </div>
            <div class="mini-border">
              <p class="yellow">storage:</p>
              <p class="desc">8 GB available space</p>
            </div>
            <div class="mini-border">
              <p class="yellow">graphics:</p>
              <p class="desc">NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
            </div>
          </div>
      </div>

      <!--Fifth Page-->
      <div class="container-5" id="section5">
          <div class="row">
            <div class="col-md-6">
              <h1>top scores</h1>
              <p class="desc">This top score from various games provided on this platform</p>
              <button type="button" class="btn btn-primary">see more</button>
            </div>
            <div class="col-md">
              <div class="media border p-3">
                <img src="/Chapter-3/assets/ellipse-orange.png" alt="ellipse">
                <img src="/Chapter-3/assets/evan-lahti.jpg" alt="Evan Lahti" class="mr-3 mt-3 rounded-circle">
                <div class="media-body">
                  <p>Evan Lahti</p>
                  <p>PC Gamer</p>
                  <p>“One of my gaming highlights of the year.”</p>
                  <p>June 18, 2021</p>
                </div>
                <img src="/Chapter-3/assets/twitter-card.png" alt="">
              </div>
              <div class="media border p-3">
                <img src="/Chapter-3/assets/ellipse-orange.png" alt="ellipse">
                <img src="/Chapter-3/assets/jada-griffin.jpg" alt="Jada Griffin" class="mr-3 mt-3 rounded-circle">
                <div class="media-body">
                  <p>Jada Griffin</p>
                  <p>Nerdreactor</p>
                  <p>“The next big thing in the world of streaming and survival games.”</p>
                  <p>July 10, 2021</p>
                </div>
                <img src="/Chapter-3/assets/twitter-card.png" alt="">
              </div>
              <div class="media border p-3">
                <img src="/Chapter-3/assets/ellipse-orange.png" alt="ellipse">
                <img src="/Chapter-3/assets/aaron-williams.jpg" alt="Aaron Williams" class="mr-3 mt-3 rounded-circle">
                <div class="media-body">
                  <p>Aaron Williams </p>
                  <p>Uproxx</p>
                  <p>“Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”</p>
                  <p>December 24, 2018</p>
                </div>
                <img src="/Chapter-3/assets/twitter-card.png" alt="">
              </div>
            </div>
          </div>
      </div>

      <!--Sixth Page-->
      <div class="container-6" id="section6">
        <div class="row">
          <div class="col-5">
            <img src="/Chapter-3/assets/skull.png" alt="skull">
            <img src="/Chapter-3/assets/Rectangle 4.2.png" alt="">
          </div>
          <div class="col-md-7 col-12">
            <h3>Want to stay in touch?</h3>
            <h1>newsletter SUBSCRIBE </h1>
            <p class="desc">In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.</p>
            <form class="form-inline">
              <p>Your email address</p>
              <input type="email" placeholder="youremail@binar.co.id" id="email">
              <button type="submit" class="btn btn-primary">Subscribe now</button>
            </form>
          </div>
        </div>

        <nav class="navbar navbar-expand-sm navbar-dark">   
          <ul class="navbar-nav">
              <li class="nav-item">
                <a href="">main</a>
              </li>
              <li class="nav-item">
                <a href="">about</a>
              </li>
              <li class="nav-item">
                  <a href="">game features</a>
              </li>
              <li class="nav-item">
                  <a href="">system requirements</a>
              </li>
              <li class="nav-item">
                <a href="">quotes</a>
            </li>
          </ul>
          <ul class="navbar-nav">
              <li class="nav-item">
                <a class="social-media" href=""><img src="/Chapter-3/assets/facebook.svg" alt=""></a>
              </li>
              <li class="nav-item">
                <a class="social-media" href=""><img src="/Chapter-3/assets/twitter.svg" alt=""></a>
              </li>
              <li class="nav-item">
                <a class="social-media" href=""><img src="/Chapter-3/assets/vector.svg" alt=""></a>
              </li>
              <li class="nav-item">
                <a class="social-media" href=""><img src="/Chapter-3/assets/twitch.svg" alt=""></a>
              </li>
          </ul>
       </nav>

       <nav class="navbar navbar-expand-sm navbar-dark">   
        <ul class="navbar-nav">
          <p class="copyright"> © 2018 Your Games, Inc. All Rights Reserved</p>
        </ul>
        <ul class="navbar-nav">
          <a href="">privacy policy</a>
          <p>|</p>
          <a href="">terms of service</a>
          <p>|</p>
          <a href="">code of conduct</a>
        </nav>

      </div>

    </div>

    <script>
      function myFunction() {
        alert("PLEASE LOGIN FIRST");
      }
    </script>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>