<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" href="/Chapter-3/assets/icon.ico">
    <link rel="stylesheet" href="/Register/style.css">
</head>
<body>
    <a href="/"><h1> < </h1></a>
    <div class="container">
        <form action="/login" method="post">
            <p> LOGIN </p>
            <input type="text" name="username" placeholder="username" required>
            <input type="password" name="password" placeholder="password" required>
            <button type="submit">LOGIN</button>
        </form>
    </div>
</body>
</html>