body {
    background-image: url(../Chapter-3/assets/top-score-bg.png);
    background-size: cover;
    background-position: center;
    display: block;
    align-items: center;
    max-width: 100%;
}


h1 {
    text-transform: uppercase;
    font-family: 'Arial';
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    text-align: center;
    color: white;
    text-align: center;
    padding-top: 20%;
}

h1 span {
    background-color: rgb(105, 105, 105, 0.5);
    background-size: contain;
    padding: 15px;
    border: 3px solid white;
}