body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.navbar {
    box-sizing: border-box;
    display: flex;
    width: 90%;
    background-color: transparent;
    position: absolute;
    top: 5px;
    left: 20px;
    padding: 0px;
    margin: 0px;
}

.navbar a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #724C21;
    position: relative;
    margin: 0;
    text-decoration: none;
}

.navbar img {
    width: 72px;
    height: 72px;
    position: relative;
    margin-left: 20px;
    margin-top: 15px;
}

.navbar h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #F9B23D;
    text-transform: uppercase;
    margin-top: 25px;
    margin-left: 20px;
}

.container {
    background: #9C835F;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    overflow-y: auto;
}

.container .player {
    display: grid;
    place-items: center;
    gap: 5%;
}

.container .com {
    display: grid;
    place-items: center;
    gap: 5%;
}

.container .status {
    display: grid;
    place-items: center;
}

.container .player p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    margin-top: 100px;
    margin-bottom: -5%;
}

.container .choice {
    width: 160px;
    height: 160px;
    display: grid;
    place-items: center;
}

.container .player img:hover{
    transform: scale(1.2);
}

.container .player .choice:nth-child(2) img {
    width: 111px;
    height: 80px;
    position: relative;
    display: block;
    cursor: pointer;
}

.container .player .choice:nth-child(3) img {
    width: 100px;
    height: 130px;
    position: relative;
    display: block;
    cursor: pointer;
}

.container .player .choice:nth-child(4) img {
    width: 117px;
    height: 140px;
    position: relative;
    display: block;
    cursor: pointer;
}

.container .com p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    margin-top: 100px;
    margin-bottom: -5%;
}

.container .com .choice:nth-child(2) img{
    width: 111px;
    height: 80px;
    position: relative;
    display: block;
}

.container .com .choice:nth-child(3) img {
    width: 100px;
    height: 130px;
    position: relative;
    display: block;
}

.container .com .choice:nth-child(4) img {
    width: 117px;
    height: 140px;
    position: relative;
    display: block;
}

.container .status .vs {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 196px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #BD0000;
    margin-top: 60%;
}

.refresh {
    display: grid;
    place-items: center;
    margin-bottom: 64px;
}

.refresh img {
    position: relative;
    width: 77px;
    height: 71px;
    margin-top: 20%;
    bottom: 10px;
}

.win {
    position: relative;
    width: 271.11px;
    height: 110px;
    background: #4C9654;
    border-radius: 10px;
    transform: rotate(-28.87deg);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0;
    margin-top: 60%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.lose {
    position: relative;
    width: 271.11px;
    height: 58px;
    background: #4C9654;
    border-radius: 10px;
    transform: rotate(-28.87deg);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0;
    margin-top: 60%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.draw {
    position: relative;
    width: 271.11px;
    height: 58px;
    background: #035B0C;
    border-radius: 10px;
    transform: rotate(-28.87deg);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0;
    margin-top: 60%;
    padding-top: 40px;
    padding-bottom: 40px;
}

@media only screen and (max-width: 760px) {
    .navbar {
        display: grid;
        place-items: center;
    }
    
    .navbar a {
        display: none;
    }

    .navbar img {
        display: none;
    }

    .navbar h1 {
        font-size: 33px;
        margin-left: 0px;
        margin-top: 0px;
        -webkit-text-stroke: 1.5px black;
    }

    .container .player p{
        font-size: 28px;
    }

    .container .com p {
        font-size: 28px;
    }

    .container .choice {
        width: 120px;
        height: 120px;
    }

    .container .player .choice:nth-child(2) img {
        width:84px;
        height: 60px;
    }

    .container .player .choice:nth-child(3) img {
        width: 69px;
        height: 90px;
    }

    .container .player .choice:nth-child(4) img {
        width: 83px;
        height: 100px;
    }

    .container .com .choice:nth-child(2) img {
        width:84px;
        height: 60px;
    }

    .container .com .choice:nth-child(3) img {
        width: 69px;
        height: 90px;
    }

    .container .com .choice:nth-child(4) img {
        width: 83px;
        height: 100px;
    }

    .container .status .vs {
        position: absolute;
        margin-top: 250% !important;
    }

    .win {
        position: absolute;
        margin-top: 230%;
        transform: none;
    }

    .lose {
        position: absolute;
        margin-top: 230%;
        transform: none;
    }

    .draw {
        position: absolute;
        margin-top: 230%;
        transform: none;
    }

    .refresh {
        margin-bottom: 310%;
    }
}